# **Deep Knowledge Tracing을 위한 Python 기초**

### **[필독] 사용 방법**
**이 파일의 사본을 구글 드라이브에 저장한 뒤 사용하세요!** 

(사본 저장하지 않을 경우 재접속시 입력 내용 사라짐)

- Colab 화면 좌측 상단 '파일' -> '드라이브에 사본 저장'
- 사본 화면에서 작업 시, 입력 내용이 구글 드라이브에 자동 저장됩니다.

## **1. 프로그래밍 감 잡기**

모국어를 유창하게 구사하는 우리에게 프로그래밍 언어의 기본 문법과 구문이 필요한 이유가 뭘까요?\
프로그래밍 언어는 인간이 사용하는 언어와는 다르기 때문입니다. 

우리가 기본 문법과 구문을 배우는 과정에서 중요한 것은,\
**프로그래밍 언어와 인간 언어의 차이를 이해**하고,\
**프로그래밍 언어에 맞는 사고방식을 익히는 것**입니다.

그럼 Python은 우리가 쓰는 한국어와 어떻게 다른지,\
어떻게 하면 그 차이를 극복하면서 프로그래밍에 다가갈 수 있을지 생각해보겠습니다.

### **1.1. 한국어와 다른 Python**
1) 영어로 되어 있다

2) 개떡 같이 말하면 개떡 같이 알아듣는다

3) 하나를 말하면 하나만 안다

### **1.2. 프로그램의 기본 구조**

**입력(input) --처리과정(process)-> 출력(output)**

- 입력: 원래 데이터 (원 데이터)

- 출력: 원하는 데이터 (변형된/가공된 데이터)

- 처리과정: 원래 데이터를 원하는 데이터로 변형/가공하는 과정

### **1.3. Python 기초 학습의 목적**

**1) 컴퓨터 같은 사고방법 익히기**

- 어떤 처리과정을 거쳐서

- 입력을 출력으로 바꿀지

- 단계별로 쪼개어 상상하고

- 모국어로 그 과정을 설명할 수 있어야 합니다.

**2) 모국어와 Python 연결하기**

- 모국어로 표현된 작업을 컴퓨터의 언어로,

- 컴퓨터의 언어로 표현된 작업을 모국어로

- 번역할 수 있어야 합니다.

**(유의할 점)** <u>컴퓨터 언어를 몰라도 1은 할 수 있습니다.</u>

## **2. 좋아하는 가수 알아보기**
    
인터넷에 좋아하는 **가수의 프로필**을 검색해본 적이 있으신가요?\
대개 검색 결과에는 **이름, 생년월일, 소속그룹, 소속사** 등의 정보가 담긴 프로필이 있습니다.

검색 화면에 보이는 정보는 어디에서 왔을까요?\
아마 포털 사이트 서버 안에 **표의 형태로 저장**되어 있었겠죠. 
    
그럼 지금부터 Python 상에서 **좋아하는 가수의 정보를 입력하고 출력**해보겠습니다.

### **2.1. 정보 입출력하기**


(그림)

위 프로필에 있는 이름, 출생, 소속그룹, 소속사를 컴퓨터가 기억하게 하고, 저장한 값을 불러와 화면에 띄워보겠습니다.

#### **데이터 입력 방법: =**
Python에서는 특정한 값(문자열이나 숫자)을 저장하고 싶을 때 등호(=)를 씁니다.

    (이름) = (저장할 값)

아래 예시를 보세요.

In [37]:
name = "윈터" # <- "윈터"라는 값을 name이라는 이름으로 저장해둬!

group = "에스파" # <- "에스파"라는 값을 group이라는 이름으로 저장해둬!

age = 21 # <- 21이라는 값을 age라는 이름으로 저장해둬!

# 아무 일도 일어나지 않아야 정상입니다.

#### **데이터 출력 방법: print()**

Python에서는 기억된 값을 화면에 띄울 때 print() 라는 기능을 씁니다.

아래와 같이 띄우고 싶은 값의 이름을 괄호 안에 넣어주시면 됩니다.

    print(이름)

아래 예시를 보세요.

In [38]:
print(name)
print(group)
print(age)
print(name, group, age)

윈터
에스파
21
윈터 에스파 21

### **2.2. 프로필 통째로 입력하기**
#### **딕셔너리**
데이터를 **표로 나타낼 수 있다면**, Python에서는 **딕셔너리(dictionary)** 의 형태로 저장 가능합니다.

사전에는 단어와 설명이 짝을 지어 정리되어 있죠.\
Python의 딕셔너리에도 사전처럼 정보의 이름과 내용을 짝지어 저장됩니다.

이번에는 윈터의 **프로필을 딕셔너리에 통째로 저장**해보겠습니다.

#### **딕셔너리 만들기: {}**

- **딕셔너리는 중괄호 {}로** 만들 수 있습니다.

        dic = {}
        

- 중괄호 안에는 저장할 **값의 이름과 내용을 따옴표(:)로 연결**해서 넣어주면 됩니다.

        dic = {이름: 윈터}


아래 예시를 보세요.

In [39]:
# 빈 딕셔너리 만들기
profile = {} # 이름이 profile인 빈 딕셔너리 만들어줘!

# 이름만 넣어서 만들어보기
profile = {"이름": "윈터"} # 표를 만들어서 '이름' 열에 '윈터'를 저장해줘!

# 딕셔너리에 프로필 통째로 입력하기
profile = {
            "이름": "윈터",
            "출생": "2001년 1월 1일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }

#### **딕셔너리 출력하기**

- 딕셔너리도 print() 안에 넣으면 전체를 출력할 수 있습니다.

        print(profile)

In [40]:
## 전체 출력하기
print(profile)

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}

#### 딕셔너리에 저장된 값을 읽기

딕셔너리에 저장된 값을 읽을 때는

1) 대괄호를 치고 []

2) 값의 이름을 넣어 불러오면 됩니다.


    profile["이름"]
        

아래 예시를 보세요.

In [41]:
## 이름만
print(profile["이름"])

## 출생만
print(profile["출생"])

## 소속그룹만
print(profile["소속그룹"])

## 소속사만
print(profile["소속사"])

## 국적만
print(profile["국적"])

윈터
2001년 1월 1일
에스파
SM엔터테인먼트
대한민국

## **3. 좋아하는 가수 더 알아보기**

(그림)

에스파 윈터의 상세 프로필에는 나이, 만 나이, 별자리가 있습니다.

네이버에서 나이, 만 나이, 별자리를 매번 수동으로 업데이트할까요?\
매년 나이를 바꾸고, 생일이 지날 때마다 만 나이를 바꾸기는 너무 번거롭죠.

위 세 값들은 출생일자만 있으면 판단이 가능합니다.\
그럼 이번에는 앞서 만든 **프로필을 변형해 다음 정보를 추가**해보도록 하겠습니다.
1. 나이 (출생일자로)
2. 외국인 여부 (국적으로)

### **3.1. 나이 계산하기**

- 입력: 출생 (2001년 1월 1일)
- 출력: 나이 (21)

- 처리과정: "2001년 1월 1일" -> "2001" -> 2001 -> 2021 - 2001 + 1 (한국 나이)
    1. 출생 데이터를 가져온다
    2. 출생에서 4번째 글자까지 자른다
    3. 자른 내용을 숫자로 바꾼다
    4. 나이를 계산한다
    5. 프로필에 저장한다
    6. (필요한 경우) 출력한다

#### **코드**

In [42]:
# 나이 계산하기
year_text = profile["출생"][:4] # 출생연도만 자르기
year = int(year_text) # 연산 가능한 정수로 바꾸기
age = 2021 - year + 1 # 한국 나이 구하기 (2022 - year도 동일)

# 나이 출력하기
print(age)

# 프로필에 저장하기
profile["나이"] = age

# 저장된 것 확인하기
print(profile["나이"])
print(profile)

21
21
{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21}

In [43]:
def add_age(profile):
    year_text = profile["출생"][:4] # 출생연도만 자르기
    year = int(year_text) # 연산 가능한 정수로 바꾸기
    age = 2021 - year + 1 # 한국 나이 구하기 (2022 - year도 동일)
    profile["나이"] = age # 프로필에 저장하기
    return profile # 업데이트된 프로필을 돌려줘!

print(add_age(profile))

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21}

#### **(기능 1) 문자열 자르기**
- **문자열 이름[시작 위치: 끝나는 위치+1]**

- 예시) "SM엔터테인먼트"에서 "SM"만 자르고 싶다면


        string = "SM엔터테인먼트"
        string[:3] # <- "SM"

아래 예시를 보세요.

In [44]:
# 문자열 자르기
# 자르기 전
print(profile["출생"])

# 앞에서부터 4글자만 자르기
print(profile["출생"][:4]) # 자르는 위치를 바꿔가면서 테스트해보세요.

# 출생연도 문자열 저장하기
year_text = profile["출생"][:4]

print(year_text)

2001년 1월 1일
2001
2001

#### **(기능 2) 문자열을 숫자로 바꾸기**
- 문자열: string, 숫자(정수): integer
- **문자열을 정수로 바꾸는 방법: int(문자열)**

        ex) int("2001") # <- 2001
        
        
아래 예시를 보세요.

In [45]:
# 연도 문자열 자료형 출력
print(type(year_text)) 

# 문자를 숫자(정수)로 바꾸기
year = int(year_text)

# 연도 출력
print(year)

# 연도의 자료형 출력: 정수이면 int (연산 가능)
print(type(year))

<class 'str'>
2001
<class 'int'>

#### **(기능 3) 숫자 연산하기**

- 문자열은 연산이 안 됩니다.

- 정수(int)는 연산이 됩니다.

아래 예시를 보세요.

In [46]:
# 문자열은 연산이 안 된다

# 덧셈
print(year_text + 1)

# 곱셈
print(year_text * 100)

# 일치 여부
print(year_text == 2001)

# 에러가 나오면 정상입니다

TypeError: can only concatenate str (not "int") to str

In [47]:
# 숫자는 연산이 된다

# 덧셈
print(year + 1)

# 곱셈
print(year * 100)

# 일치 여부
print(year == 2001) # 2001년생 맞아?

2002
200100
True

### **3.2. 외국인 여부 확인하기**
- 입력: 국적

- 출력: 외국인이면 True, 아니면 False

- 처리과정: 만약 국적이 '대한민국'이면 False, 아니면 True (조건에 따라서 다름)

#### **코드**

In [48]:
# 외국인 여부 저장하기
if profile["국적"] == "대한민국": # 프로필에 저장된 국적이 '대한민국'이면 
    profile["외국인"] = False # 프로필에 외국인 여부를 False로 저장해
else: # 프로필에 저장된 국적이 '대한민국'이 아니면
    profile["외국인"] = True # 프로필에 외국인 여부를 True로 저장해

# 결과 확인
print(profile["외국인"])
print(profile)

False
{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}

In [49]:
def add_foreign(profile):
    if profile["국적"] == "대한민국": # 프로필에 저장된 국적이 '대한민국'이면 
        profile["외국인"] = False # 프로필에 외국인 여부를 False로 저장해
    else: # 프로필에 저장된 국적이 '대한민국'이 아니면
        profile["외국인"] = True # 프로필에 외국인 여부를 True로 저장해
    return profile # 업데이트된 프로필을 돌려줘!
    
print(add_foreign(profile))

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}

#### **조건문**

- if-else: 특정 조건이 만족할 때만 코드가 실행되게(되지 않게) 하는 방법)
    
예시) 만약 윈터가 20살이면 O를, 아니면 X라고 해봐!
- 만약: if
- 윈터가 20살이면: profile["나이"] == 20:
- O를 출력: print("O")
- 아니면: else
- X를 출력: print("X")

In [50]:
# 윈터가 20살인가요?

if profile["나이"] == 20:
    print("O")
else:
    print("X")

X

#### **(심화) 같다, 다르다 연산자 활용하기**
- 같다: ==

        1 == 1   # <- True
        1 == 2   # <- False
        1 == '1' # <- False
        

- 다르다: !=

        1 != 1   # <- False
        1 != 2   # <- True
        1 != '1' # <- True

In [51]:
# 같다, 다르다 연산자 연습
print(profile["국적"])
print(profile["국적"] == "대한민국")
print(profile["국적"] != "대한민국")

대한민국
True
False

In [52]:
# 외국인 여부 저장하기
profile["외국인"] = profile["국적"] != "대한민국"

# 결과 확인
print(profile["외국인"])
print(profile)

False
{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}

### **[과제] 만 나이 계산하기**

프로필에 있는 출생 정보로부터 만 나이를 계산해서 프로필에 저장해보세요.

- 입력: 딕셔너리 형태의 프로필(이름, 출생 포함)

- 출력: 딕셔너리 형태의 프로필(이름, 출생, 만 나이 포함)

- 유의점
    1. 만 나이는 생일이 지날 때마다 한 살씩 많아집니다.
    2. 2021년 8월 1일을 기준으로 만 나이를 계산하세요.

#### **답안**

In [53]:
############## 코드를 입력하세요 ###############
# 프로필 (변경 가능)
profile2 = {
            "이름": "윈터",
            "출생": "2001년 1월 1일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }




#############################################

## **4. 좋아하는 가수 소개하기**

앞서 가수의 프로필을 딕셔너리에 저장하고, 그 값을 출력해보았습니다.

그럼 이번에는 **가수의 프로필을 하나의 완성된 문장으로 만들어 출력**해보도록 하겠습니다.

- 입력: 프로필
- 출력: 소개글 ("윈터는 그룹 에스파의 멤버로, 올해 21살이에요.")

- 템플릿: [이름]는 그룹 [소속그룹]의 멤버로, 올해 [나이]살이에요.
    - 이름: profile["이름"]
    - 그룹: profile["소속그룹"]
    - 나이: profile["나이"]

#### **문장 템플릿 만들고 변수 넣기**
1. 우선 원하는 문장을 쓴다

        "윈터는 그룹 에스파의 멤버로, 올해 21살이에요."


2. 문장에서 변수가 들어갈 자리에 {}를 넣는다

        "{}는 그룹 {}의 멤버로, 올해 {}살이에요."


3. 문장 뒤에 .format() 을 쓴다

        "{}는 그룹 {}의 멤버로, 올해 {}살이에요.".format()
        

4. 괄호 안에 변수를 순서대로 쓴다
        
        "{}는 그룹 {}의 멤버로, 올해 {}살이에요.".format(name, group, age)

In [54]:
# 소개글 쓰기

intro = "{}는 그룹 {}의 멤버로, 올해 {}살이에요.".format(profile["이름"], profile["소속그룹"], profile["나이"])

# 소개글 출력하기
print(intro)

윈터는 그룹 에스파의 멤버로, 올해 21살이에요.

In [55]:
def introduce(profile):
    intro = "{}는 그룹 {}의 멤버로, 올해 {}살이에요.".format(profile["이름"], profile["소속그룹"], profile["나이"]) # 소개글 쓰기
    print(intro) # 소개글 출력하기
    
introduce(profile)

윈터는 그룹 에스파의 멤버로, 올해 21살이에요.

### **[과제] 프로필 전체 내용이 다 들어간 소개글 쓰기**

프로필 전체 내용이 모두 들어간 소개글을 문장으로 써서 출력해보세요.

- 입력: 딕셔너리 형태의 프로필

- 출력: 문자열 형태의 소개글

- 과정
    1. 나이, 외국인 여부를 프로필에 저장하기
    2. 모든 정보를 포함한 소개글 쓰기 (이름, 출생, 소속그룹, 소속사, 국적, 나이, 외국인 여부)
    3. 소개글 출력하기

#### **답안**

In [56]:
############## 코드를 입력하세요 ###############
# 프로필 (변경 가능)
profile3 = {
            "이름": "윈터",
            "출생": "2001년 1월 1일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }




#############################################

## **5. 좋아하는 가수들 소개하기**

앞서 가수를 소개할 때 템플릿을 만들었었죠.\
그럼 다른 가수를 소개할 때도 똑같은 코드를 사용할 수 있을 겁니다.\
이처럼 프로그래밍이 좋은 점 중 하나는 규칙적인 작업을 반복할 수 있다는 것입니다.


이번에는 **여러 명의 가수를 자동으로 소개**해보겠습니다.

### **5.1. 가수들 프로필 입력하기**

In [132]:
############## 코드를 입력하세요 ###############

# 딕셔너리의 이름과 내용을 바꿔주세요!
winter = {
            "이름": "윈터",
            "출생": "2001년 1월 1일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }
karina = {
            "이름": "카리나",
            "출생": "2000년 4월 11일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }
giselle = {
            "이름": "지젤",
            "출생": "2000년 10월 30일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }
ningning = {
            "이름": "닝닝",
            "출생": "2002년 10월 23일",
            "소속그룹": "에스파",
            "소속사": "SM엔터테인먼트",
            "국적": "대한민국"
          }

# 딕셔너리의 이름을 바꾸었다면 아래에도 바꿔주세요.
print(winter)
print(karina)
print(giselle)
print(ningning)

#############################################

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}

#### **리스트**
여러 가수의 프로필을 한 곳에 모아둘 수 있을까요?\
Python에서는 여러 개의 값을 모아서 저장할 때 '리스트(list)'를 활용합니다.

- **리스트: 여러 개의 데이터(숫자, 문자, 딕셔너리 등)을 모아서 순서대로 저장한 것**

#### **리스트 만들기: []**
- 리스트는 대괄호 []로 만들 수 있습니다.
- 대괄호 안에 여러 개의 값을 콤마(,)로 연결해 넣어주면 됩니다.

        aespa = [winter, karina, giselle, ningning]
        
#### **리스트 자르기: [:]**
- **리스트이름[시작 위치 : 끝나는 위치+1)**
- 문자열 자르기와 유사함

        aespa[:2]  # <- [winter, karina]
        aespa[1:3] # <- [karina, giselle]
        aespa[2:]  # <- [karina, giselle, ningning]

In [137]:
# 에스파 프로필 리스트 만들기
aespa = [winter, karina, giselle, ningning]

print(aespa)

[{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}, {'이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}, {'이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}, {'이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 20, '외국인': False}]

### **5.2. 가수 프로필 변형하기**

이번에는 앞서 만든 여러 기능을 활용해서,

**여러 가수의 프로필에 나이와 외국인 여부를 추가**해보도록 하겠습니다.

#### **반복문 - for** (같은 작업 반복하기)
프로필 리스트에 있는 각각의 프로필마다 같은 작업(나이, 외국인 여부 추가)을 반복하려고 합니다.

Python에서는 **리스트에 들어있는 값마다 동일한 작업을 반복할 때 for** 라는 기능을 활용합니다.

#### **(예시) 에스파 멤버들의 프로필마다 출력해줘!**

    # aespa 리스트에 들어있는 프로필마다
    
    for profile in aespa:

        # 출력해줘
                
        print(profile)

In [127]:
# 멤버 프로필 하나씩 출력하기
for profile in aespa:
    print(profile)

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}
{'이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}


#### **코드**
에스파 멤버들의 프로필마다 나이와 외국인 여부를 추가해줘!

    # aespa 리스트에 들어있는 프로필마다

    for profile in aespa:


        # 나이를 추가해줘
                
        add_age(profile)
            
    
        # 외국인 여부룰 추가해줘
        
        add_foreign(profile)

In [128]:
# aespa 리스트에 들어있는 프로필마다
for profile in aespa:

    # 나이를 추가해줘
    add_age(profile)

    # 외국인 여부룰 추가해줘
    add_foreign(profile)
    
    # 잘 저장됐는지 확인
    print(profile)

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}
{'이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}
{'이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}
{'이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 20, '외국인': False}

In [134]:
## 반복되는 코드 축약하지 않은 버전
for profile in aespa:
    # 나이 넣기
    year_text = profile["출생"][:4]
    year = int(year_text)
    profile["나이"] = 2021 - year + 1
    
    # 외국인 여부 넣기
    if profile["국적"] == "대한민국":
        profile["외국인"] = False
    else:
        profile["외국인"] = True
        
    # 잘 저장됐는지 확인
    print(profile)

{'이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 21, '외국인': False}
{'이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}
{'이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 22, '외국인': False}
{'이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국', '나이': 20, '외국인': False}

### **5.3. 멤버별 소개하기**    
    # aespa 리스트에 들어있는 프로필마다

    for profile in aespa:


        # 나이를 추가해줘
                
        add_age(profile)
            
    
        # 외국인 여부룰 추가해줘
        
        add_foreign(profile)
        
        
        # 프로필을 소개해줘
        
        introduce(profile)

#### **코드**

In [64]:
# aespa 리스트에 들어있는 프로필마다
for profile in aespa:

    # 나이를 추가해줘
    add_age(profile)

    # 외국인 여부룰 추가해줘
    add_foreign(profile)
    
    # 프로필을 소개해줘
    introduce(profile)

윈터는 그룹 에스파의 멤버로, 올해 21살이에요.
카리나는 그룹 에스파의 멤버로, 올해 22살이에요.
지젤는 그룹 에스파의 멤버로, 올해 22살이에요.
닝닝는 그룹 에스파의 멤버로, 올해 20살이에요.

In [65]:
## 반복되는 코드 축약하지 않은 버전
for profile in aespa:
    # 나이 넣기
    year_text = profile["출생"][:4]
    year = int(year_text)
    profile["나이"] = 2021 - year + 1
    
    # 외국인 여부 넣기
    if profile["국적"] == "대한민국":
        profile["외국인"] = False
    else:
        profile["외국인"] = True
        
    # 소개글 쓰기
    intro = "{}는 그룹 {}의 멤버로, 올해 {}살이에요.".format(profile["이름"], profile["소속그룹"], profile["나이"])

    # 소개글 출력하기
    print(intro)

윈터는 그룹 에스파의 멤버로, 올해 21살이에요.
카리나는 그룹 에스파의 멤버로, 올해 22살이에요.
지젤는 그룹 에스파의 멤버로, 올해 22살이에요.
닝닝는 그룹 에스파의 멤버로, 올해 20살이에요.

## **6. 좋아하는 가수만 소개하기**

프로그래밍이 유용한 점 중 하나는 수많은 데이터 중에서 **원하는 데이터만 빠르게 골라낼 수 있다**는 점입니다.

대한민국에서 활동하는 수많은 가수들이 있을 텐데, 그 중에서 **내가 좋아하는 가수만 골라내서 소개**할 수 있을까요?

In [66]:
############# 이 코드의 의미는 2차시에 배웁니다 #############

# 데이터 살펴보기
import pandas as pd
df = pd.read_excel("./singers.xlsx")
display(df)

########################################################

    번호   이름             출생    소속그룹         소속사                국적
0    1   윈터    2001년 1월 1일     에스파    SM엔터테인먼트              대한민국
1    2  카리나   2000년 4월 11일     에스파    SM엔터테인먼트              대한민국
2    3   지젤  2000년 10월 30일     에스파    SM엔터테인먼트                일본
3    4   닝닝  2002년 10월 23일     에스파    SM엔터테인먼트                중국
4    5   민영   1990년 9월 12일  브레이브걸스  브레이브엔터테인먼트              대한민국
5    6   유정    1991년 5월 2일  브레이브걸스  브레이브엔터테인먼트              대한민국
6    7   은지   1992년 7월 19일  브레이브걸스  브레이브엔터테인먼트              대한민국
7    8   유나    1993년 4월 6일  브레이브걸스  브레이브엔터테인먼트              대한민국
8    9   지수    1995년 1월 3일    블랙핑크    YG엔터테인먼트              대한민국
9   10   제니   1996년 1월 16일    블랙핑크    YG엔터테인먼트              대한민국
10  11   로제   1997년 2월 11일    블랙핑크    YG엔터테인먼트  이중국적(대한민국, 뉴질랜드)
11  12   리사   1997년 3월 27일    블랙핑크    YG엔터테인먼트                태국

#### **가수 프로필 목록 데이터**
- 딕셔너리 형태로 저장한 가수의 프로필을 리스트에 모아둔 형태
- 즉, **딕셔너리의 리스트** (a list of dictionaries)

In [67]:
############# 이 코드의 의미는 2차시에 배웁니다 #############

profiles = df.to_dict(orient="records")

########################################################

# 우리가 쓸 데이터
print(profiles)

print()

print(type(profiles)) # 전체적으로는 리스트
print(type(profiles[0])) # 리스트 안에 들어있는 것들은 딕셔너리

[{'번호': 1, '이름': '윈터', '출생': '2001년 1월 1일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}, {'번호': 2, '이름': '카리나', '출생': '2000년 4월 11일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '대한민국'}, {'번호': 3, '이름': '지젤', '출생': '2000년 10월 30일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '일본'}, {'번호': 4, '이름': '닝닝', '출생': '2002년 10월 23일', '소속그룹': '에스파', '소속사': 'SM엔터테인먼트', '국적': '중국'}, {'번호': 5, '이름': '민영', '출생': '1990년 9월 12일', '소속그룹': '브레이브걸스', '소속사': '브레이브엔터테인먼트', '국적': '대한민국'}, {'번호': 6, '이름': '유정', '출생': '1991년 5월 2일', '소속그룹': '브레이브걸스', '소속사': '브레이브엔터테인먼트', '국적': '대한민국'}, {'번호': 7, '이름': '은지', '출생': '1992년 7월 19일', '소속그룹': '브레이브걸스', '소속사': '브레이브엔터테인먼트', '국적': '대한민국'}, {'번호': 8, '이름': '유나', '출생': '1993년 4월 6일', '소속그룹': '브레이브걸스', '소속사': '브레이브엔터테인먼트', '국적': '대한민국'}, {'번호': 9, '이름': '지수', '출생': '1995년 1월 3일', '소속그룹': '블랙핑크', '소속사': 'YG엔터테인먼트', '국적': '대한민국'}, {'번호': 10, '이름': '제니', '출생': '1996년 1월 16일', '소속그룹': '블랙핑크', '소속사': 'YG엔터테인먼트', '국적': '대한민국'}, {'번호': 11, '이름': '로제', '출생': '1997년 2월 11일', '소속그룹': '블랙핑크', '소속사': 'YG엔터테인먼트', '국적': '이중국적(대한민국, 뉴질랜드)'}, {'번호': 12, '이름': '리사', '출생': '1997년 3월 27일', '소속그룹': '블랙핑크', '소속사': 'YG엔터테인먼트', '국적': '태국'}]

<class 'list'>
<class 'dict'>

#### **좋아하는 가수만 골라서 소개하기**
- 입력: 프로필 목록
- 출력: 에스파만 골라서 소개
- 처리과정

        프로필 목록에 있는 각각의 프로필에 대해서
        
            소속 그룹이 "에스파"이면
            
                - 나이 계산하기
                - 외국인 여부 확인하기
                - 소개글 출력하기

In [68]:
for profile in profiles: # 프로필 목록에 있는 각각의 프로필에 대해서
    if profile["소속그룹"] == "에스파": # 소속 그룹이 "에스파"이면
        add_age(profile) # 나이 계산해 추가하기
        add_foreign(profile) # 외국인 여부 추가하기
        introduce(profile) # 소개글 출력하기

윈터는 그룹 에스파의 멤버로, 올해 21살이에요.
카리나는 그룹 에스파의 멤버로, 올해 22살이에요.
지젤는 그룹 에스파의 멤버로, 올해 22살이에요.
닝닝는 그룹 에스파의 멤버로, 올해 20살이에요.

In [69]:
## 반복되는 코드 생략하지 않은 버전
for profile in profiles:
    if profile["소속그룹"] == "에스파":
        # 이름 확인
        name = profile["이름"]
        # 소속그룹 확인
        group = profile["소속그룹"]
        # 나이 확인
        year_text = profile["출생"][:4]
        year = int(year_text)
        age = 2021 - year + 1
        # 소개글 쓰기
        intro = "{}은(는) 그룹 {}의 멤버로, 올해 {}살이에요.".format(name, group, age)
        #소개글 출력
        print(intro)

윈터은(는) 그룹 에스파의 멤버로, 올해 21살이에요.
카리나은(는) 그룹 에스파의 멤버로, 올해 22살이에요.
지젤은(는) 그룹 에스파의 멤버로, 올해 22살이에요.
닝닝은(는) 그룹 에스파의 멤버로, 올해 20살이에요.